{% extends 'base_admin.html' %}

{% block section %}
    <div class="main">
        <form method="post" action="/add_new_staff">
            {% csrf_token %}
        <div class="addstaff">
            <h3>ADD STAFF DETAILS</h3>
            <div><label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter Name">
            </div>
            <div><label for="username">Username:</label>
                <input type="text" name="username" id="Username" placeholder="Enter Username">
            </div>
            <div><label for="pass">Enter Password:</label>
                <input type="password" name="password" id="pass" placeholder="Enter password">
            </div>
            <div> <label for="UID">UserID : </label>
                <input type="text" name="staff_id" id="UID" placeholder="Enter UserID">
            </div>
            
            <div><label for="Rel_courses">Related Courses ID: </label>
                <input type="text" name=rel_course id="Rel_courses" placeholder="Enter Related Courses IDs(sepereted by ",")">
            </div>
            <button class="sign-btn" type="submit">Add Staff</button>
        </div>
        </form>
    </div>
{% endblock section %}
