{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff DashBoard</title>
    <link rel="stylesheet" href="{% static './CSS/stud_styles.css' %}">
    <link rel="stylesheet" href="{% static './CSS/admin.css' %}">
</head>
<body>
    <div class="sidenav">
        <a href="/staff">Home</a>
        <p class="studname" id="stud-name"><span>{{user.first_name}} {{user.last_name}}</span><br>ID : <span>974357395</span>
        </p>
        <a href="/manage_attendance">Manage Attendance</a>
        <a href="/mark_attendance">Mark Attendance</a>
        <a href="/create_assign">Create Assignment</a>
        <a href="/manage_assign">Manage Assignments</a>
        <a href="/view_assign">Assignments Records</a>
        <a href="/logout">Logout</a>
        <!-- <a href="#contact">Contact</a> -->
    </div>

    {% block section %}{% endblock section %}

</body>
</html>