{% extends 'base_stud.html' %}

{% block section %}
   <div class="main">
        <h3>View Courses</h3>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>COURSE NAME</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in student_course %}
                {% for course in rec.enrolled_courses.all %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.start_date}}</td>
                    <td>{{course.end_date}}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock section %}