{% extends 'base_staff.html' %}

{% block section %}

<div class="main">
    <h3>Manage Assignment</h3>
        {% csrf_token %}
        <div class="course-select">
            <label for="course">Course</label>
            <select name="course" id="course" required="" onchange="location = this.value;">
                <option value="">Select Course</option>
                {% for rec in staff_course %}
                {% for course in rec.rel_course.all %}
                <option value="/fetch-assign/{{course.id}}">{{course.name}}</option>
                {% endfor %}
                {% endfor %}						
            </select>
        </div>

   


        <h3>Submitted Assignments</h3>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Due Date</th>
                    <th>Submitted On</th>
                    <th>Assignment</th>
                    <th>Student Name</th>
                    <th>Answer</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                {% for assign in assignments %}
                <tr>
                    <td>{{assign.assign.course}}</td>
                    <td>{{assign.assign.due_date}}</td>
                    <td>{{assign.sub_date}}</td>
                    <td>{{assign.assign.name}}</td>
                    <td>{{assign.student.user.first_name}}</td>
                    <td>{{assign.answer}}</td>
                    <td>{{assign.assign_state}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
 </div>
{% endblock section %}